<footer class="site-footer">
    All <strong>files</strong> hosted on this website are licensed as noted in the file.<br>
    The <strong>structured data</strong> powering this website are licensed  <a href="https://creativecommons.org/licenses/by/3.0/us/">(CC BY 3.0 US) : Creative Commons - Attribution 3.0.</a><br>
    The <strong>code</strong> powering this website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
</footer>
